#formOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  #formContainer {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  #formContainer h2 {
    margin-top: 0;
  }
  
  #openFormButton {
    margin-top: 20px;
  }







  <div class="img-cont">
                   <span class="close" onclick="document.getElementById('user-login').style.display = 'none'">&times;</span>
                </div>
  